/*
 * Globals
 */

/* Links */
html {
 width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    
   
}

.underline {
  text-decoration: underline;

}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 30px;

    transform: rotate(45deg);
     -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.shopheader {
  background-image: url('/img/IMG_7775.jpg');
  background-attachment: fixed;
  background-size: contain;
  
  
}
.rmshopheader {
    background-image: url('/img/cover.jpgco');
  background-attachment: fixed;
  background-size: contain;
}
#highlight-yellow2 {
     display: inline;
       padding: 0.25em;
  background: #f4c215;
  box-shadow: 10px 0 0 #f4c215, -10px 0 0 #f4c215;
  line-height: 55px;
}

#highlight-yellow {
     display: inline;
       padding: 0.25em;
  background: #f4c215;
  box-shadow: 10px 0 0 #f4c215, -10px 0 0 #f4c215;
}

.highlight-pink {

       padding: 0.25em;
  color: #e73692;
  font-size: 25px;
  line-height: 55px;
}

.highlight-yellow {
 font-size: 25px;
       padding: 0.25em;
  color: #f4c215;

}

.highlight-green {
 font-size: 25px;
       padding: 0.25em;
  color: #1dad4b;

}

.highlight-blue {
 font-size: 25px;
       padding: 0.25em;
  color: #8ed0f2;

}

.highlight-red {
 font-size: 25px;
       padding: 0.25em;
  color: #ed1b24;
 
}

.highlight-black {
 font-size: 25px;
       padding: 0.25em;
  color: #000;
  
}
#highlight-black {

  display: inline;
       padding: 0.25em;
  background: #000;
  box-shadow: 10px 0 0 #000, -10px 0 0 #000;
  line-height: 55px;
  }

 #highlight-black-right {

  display: inline;
       padding: 0.25em;
  background: #000;
  box-shadow: 10px 0 0 #000, -10px 0 0 #000;
  line-height: 55px;
  text-align: right;
  }
.black {
  color: #000;
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
     -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}
@font-face {
    font-family: 'Skia';
    src:url('/fonts/Skia.ttf.woff') format('woff'),
        url('/fonts/Skia.ttf.svg#Skia') format('svg'),
        url('/fonts/Skia.ttf.eot'),
        url('/fonts/Skia.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.vmiddle {
 display: table-cell;
vertical-align: middle;
}
.block {
  display: block;
  width: 100%;
}

li.a {
  text-decoration: none;
}

ul {
     list-style-type: none;

}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn {
  vertical-align: baseline;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f4c215;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #f4c215;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #f4c215;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #f4c215;


}



.btn-lg {
  font-size: 22px;
}
/* contact form */
.input-field {
height: 46px;
padding: 5px 5px 5px 18px;
margin: 5px;
font-size: 22px;
line-height: 1.33;
border-radius: 0px;
border-color: transparent;
}


a,
a:focus,
a:hover {
  color: #e73690;
}
a.white,
a:focus,
a:hover {
  color: #ffffff;
}
/* Custom default button */
.btn-ghost {
  color: #e73690;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #e73690;
  background-color: transparent;

}

.btn-ghost:hover,
.btn-ghost:focus {
  color: #ffffff;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #000;
  background-color: #000;

}


/* Custom default button */
.btn-ghost-white{

  color: #ffffff;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #ffffff;
  background-color: transparent;

}

.btn-ghost-white:hover,
.btn-ghost-white:focus {
  color: #000;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #ffffff;
  background-color: #ffffff;

}

v
/* Custom default button */
.btn-ghost-pink {
  color: #ffffff;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #e73692;
  background-color: #e73692;

}

.btn-ghost-pink:hover,
.btn-ghost-pink:focus {
  color: #ffffff;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #000;
  background-color: #000;

}
.btn-ghost-grey {
  color: #16281f;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #16281f;
  background-color: transparent;

}

.btn-ghost-grey:hover,
.btn-ghost-grey:focus {
  color: #16281f;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #000;
  background-color: #000;

}

.btn-pink, {
  color: #16281f;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #16281f;
  background-color: #fff;

}

.btn-pink:hover,
.btn-pink:focus {
  color: #16281f;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #000;
  background-color: #000;

}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.navbar-collapse {
  background-color: #16281f;
  border-color: #16281f;
}
.navbar-inverse .navbar-nav > li > a {
color: #ffffff;
font-size: 35px;
line-height: 100%;
padding-left:25px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {

  background-color: #e73690;
;

}

.navbar-inverse .navbar-toggle {
  background-color: transparent;
    border-radius: 0px;
  border-color: transparent;

}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #e73692;
  font-size: 50px;
  width: 88px;
  height: 8px;
  border-radius: 0px;

}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 10px;
}
@media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 0px solid transparent;
        box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 0px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}
.handwriting {
  font-family: 'Architects Daughter', cursive;
  font-size: 63px;
}

.small {
 
  font-size: 30px;
}
/* Custom default button */
.btn-ghost-huge,
.btn-ghost-huge:hover,
.btn-ghost-huge:focus {
  color: #e73690;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 2px solid #e73690;
  background-color: transparent;
  font-size: 88px;


}

.img-circle {
  width: 50%;
}
/*
 * Base structure
 */

html,
body {

  font-family: 'Skia';
}
body {
  color: #000000;
  text-align: left;
  background-color: #fff;


}

.fa-huge {
  font-size: 250px;
}



.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;




}


/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #404040; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;

}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #404040;

}

#circles {
  background-image: url('/img/circles.jpg');
  background-attachment: fixed;
  background-size: cover;
  text-align: center;


}

.img-responsive {
  min-width: 100%;
}
#tagline {
  background-color: #fff9b6;
}

.viewcart {
  margin: 10px;

}
.padded-huge {
  padding-top: 175px;
    padding-bottom: 175px;

}

.padded-big {
  padding-top: 100px;
    padding-bottom: 100px;

}

.padded-med {
  padding-top: 65px;
    padding-bottom: 65px;

}

.padded-sm {
  padding-top: 35px;
    padding-bottom: 35px;

}
.padded-sm-bottom {

    padding-bottom: 35px;

}
.padded-big-bottom {

    padding-bottom: 100px;

}

.padded-big-top {

    padding-top: 100px;

}

.padded-sm-top {

    padding-top: 35px;

}

.padded-all {

    padding: 75px;

}
.headline {

  font-size: 30px;
     font-weight: 200;
  line-height: 1.4;
  padding-top: 0px;
    padding-bottom: 0px;
    vertical-align:middle;

}

.ingredients {
  background-color: transparent;
  background-image: url('/img/circles.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#bars {
  background-image: url('/img/bars.jpg');
  background-width: 100%;
}

.pink{
  color: #e73692;
}

.pinkback {
  background-color: #e73692;
}

.yellow{
  color: #f4c215;
}

.yellowback{
  background-color: #f4c215;
}
.green{
  color: #1dad4b;
}
.red{
  color: #ed1b24;
}
.blue{
  color: #8ed0f2;
}

.blueback{
  background-color: #8ed0f2; 
}

.bluesclues {
    background-color: #8ed0f2; 
    color: #ffffff;

}
.grey {
  color: #16281f;
}

.greyback {
  background-color: #16281f;
}
.white {
  color: #ffffff;
}

.nopad {
  padding-left: 0px;
    padding-right: 0px;
}



.actions1 {
  background-image: url('/img/aalmond.png');

  background-attachment: fixed;
}

.actions2 {
  background-image: url('/img/apepito.png');

  background-attachment: fixed;
}
.actions3 {
  background-image: url('/img/acranberry.png');

  background-attachment: fixed;
}

.actions1l {
  background-image: url('/img/actions1l.jpg');

  background-attachment: fixed;
}

.actions2l {
  background-image: url('/img/actions2l.jpg');

  background-attachment: fixed;
}
.actions3l {
  background-image: url('/img/actions3l.jpg');

  background-attachment: fixed;
}


.trans {
  background-color: transparent;
}



@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }

}

 .navbar-collapse {
        border-top: 0px solid transparent;
        box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
    }
 .navbar-nav {
 
    margin-top: 0px;
  }
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.scenter {
  text-align: center;
  padding-top: 40px;
  vertical-align: middle;

}

.mcenter {
  padding-top: 40px;
  vertical-align: middle;

}


.center {
   margin: 0 auto;
   text-align: center;
   min-width: 100%;
}
/*
 * Footer
 */

.mastfoot {
  color: #e73692; /* IE8 proofing */



}


.footer {
    background-color: #e73692;
}
.social {
  padding: 30px;
}
i.fapink {
  padding: 15px;
  color: #e73692;
}
i.fablue {
  padding: 15px;
  color: #8ed0f2;
}
i.fayellow {
  padding: 15px;
  color: #f4c215;
}
i.fa {
  padding-right: 15px;
    padding-left: 15px;
}
/*
 * Affix and center
 */




@media (min-width: 768px) {
 .navbar-collapse {
        border-top: 0px solid transparent;
        box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
    }
  .navbar-nav {
 
    margin-top: 0px;
  }
}
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
} .navbar-nav {
 
    margin-top: 0px;
  }
 .navbar-collapse {
        border-top: 0px solid transparent;
        box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
    }
  }
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
 .navbar-nav {
 
    margin-top: 0px;
  }
 .navbar-collapse {
        border-top: 0px solid transparent;
        box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
    }

}

    /*fonts */
@media (min-width: 1400px) {
.tagline {
  font-size: 75px;
}
}

@media (min-width: 767px) and (max-width: 1400px){ 
.tagline {
font-size: 50px;
}
}
@media  (max-width: 767px) {
   html,
  body{
    width:100%;
    overflow-x:hidden;
  }

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 25px;
  }

.tagline {
font-size: 25px;
}
.navbar-inverse .navbar-toggle .icon-bar {

  width: 55px;
  height: 5px;
  border-radius: 0px;

}
.btn-lg {
  font-size: 18px;
  display: block;
    width: 100%;
}

button .btn-lg {
  font-size: 18px;
  display: block;
    width: 100%;

}
}

  @media  (max-width: 1000px) {
  .shopheader {
    background-size: cover;
  }
  .rmshopheader {
    background-size: cover;
  }

}

}

.cover {
  size: cover;
}

.hero {
  background-image: url('/img/berrybars.jpg');
background-attachment: fixed;
  background-width: 100%;
}
#instafeed {
  margin-left: -3px;
  margin-right: -3px;
}

#instafeed a {
  overflow: hidden;
  float: left;
  margin: 3px;
  border-radius: 2px;
  overflow: hidden;
  width: calc(40% / 2 - 6px);
}

#instafeed a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 !important;
}


