/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #e73690;
}

/* Custom default button */
.btn-ghost,
.btn-ghost:hover,
.btn-ghost:focus {
  color: #e73690;
  text-shadow: none; /* Prevent inheritence from `body` */
 border-radius: 0px;
  border: 1px solid #e73690;
  background-color: transparent;
}


/*
 * Base structure
 */

html,
body {
  background-color: #333;
}
body {
  color: #000000;
  text-align: center;
  background-color: #fff;


}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;




}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
    background-image: url('/img/ingredients1.png');
}
.cover-container {
  margin-right: auto;
  margin-left: auto;


}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #404040; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;

}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #404040;

}

#circles {
  background-image: url('/img/circles.jpg');
  background-attachment: fixed;
  background-size: cover;
  text-align: center;


}
.padded-huge {
  padding-top: 175px;
    padding-bottom: 175px;

}
.headline {

  font-size: 30px;
     font-weight: 200;
  line-height: 1.4;
  padding-top: 0px;
    padding-bottom: 0px;
    vertical-align:middle;

}



#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #e73692; /* IE8 proofing */



}

.footer {
    background-color: #333;
}
.social {
  padding: 15px;
}
i.fa {
  padding: 15px;
  color: #e73692;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}