---
layout: shop 	
title: Pashen
---

{% include header.html %}





<div class="container-fluid">
  <img src="/img/berrybars.jpg" class="img-responsive">
</div>


 <div class="container-fluid">
   

              <div class="container">
    <div class="row padded-sm" id="berrybars">
        <div class="col-sm-4">   
        <img src="/img/bbarlabel.png" class="img-responsive">
       </div> 
        <div class="col-sm-8">
        <h1><span class="pink strong">NEW VEGAN BAR!!</span> <span class="grey">pashen</span><span class="pink"> berry</span><span class="grey"> </span></h1>
        <span class="lead">{% include berryingredients.html %}</span><br>
        <img src="/img/berry---Nutrition-Label.jpg" class="img-responsive"><br>
        <span class="lead">price=$35.88/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Berry Bar Case&category=NON&price=35.88&code=1001009" role="button">add to cart</a><br>
            <span class="lead">monthly delivery price=$32.89/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Berry Bar Case Subscription&category=SUB&price=32.89&code=1001010&sub_frequency=1m" role="button">sign up</a><br>
           <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
   
      </div>
</div>
</div>
 <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <hr>
       <p class="lead white center"><span class="highlight-black">Organic</span> <span class="highlight-pink">Gluten-Free</span> <span class="highlight-yellow">Non-GMO</span> <span class="highlight-red">Dairy-Free</span> <span class="highlight-blue">Soy-Free</span> <span class="highlight-green">Unprocessed</span> <span class="highlight-black">No Preservatives</span> <span class="highlight-pink">Vegan</span></p>
       <hr>
     </div>
   </div>
 </div>
 <div class="container-fluid greyback white padded-med">
    <div class="container">
      <div class="row">

        <div class="col-med-10 visible-xs">
         


            <p>secure payments method accepted<br><i class="fa fa-cc-amex fa-3x"></i><i class="fa fa-cc-discover fa-3x"></i><i class="fa fa-cc-visa fa-3x"></i><i class="fa fa-cc-mastercard fa-3x"></i>
                    
        </div>

         <div class="col-med-10 hidden-xs">
         


            <p>secure payments method accepted<i class="fa fa-cc-amex fa-3x"></i><i class="fa fa-cc-discover fa-3x"></i><i class="fa fa-cc-visa fa-3x"></i><i class="fa fa-cc-mastercard fa-3x"></i><i class="fa fa-paypal fa-3x"></i>
                    
        </div>
   </div>
 </div>
</div>

 