---
layout: default 	
title: Pashen
---

<div class="container-fluid">

	<div class="row">
	
	<div class="col-md-4">
     <img src="/img/pashenpink.png" class="img-responsive center" style="vertical-align:middle">
      </div>
      <div class="col-md-8 scenter">
     {% include tagline.html %}
      </div>

  </div>
         
</div>

  

 <div class="container-fluid pinkback white padded-med">
  	<div class="container">
  		<div class="row">

  			<div class="col-md-5 white padded-sm">
 <h3>
   Pashen Corp. <br> 3722 Chicago Ave S, <br>Minneapolis, MN 55407</h3>
  				<h3><i class="fa fa-phone-square fa-2x"> </i> <strong> 612-399-6888 </strong>
        <br><i class="fa fa-envelope-o fa-2x" alt="visit us on twitter"></i> wendy@mypashen.com </strong></h3>

      <br>
    </div>

<div class="col-md-7">

						<h1>Send a message</h1><div class="lead">
  {% include contactform.html %}<br></div>

  			</div>
  			
		</div>
	</div>

</div>


 <div class="container-fluid hidden-xs">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="footer center ">
            	<div class="inner white"><span class="handwriting">connect with us ></span>
                    <span class="social">  <i class="fa fa-twitter fa-5x"></i><i class="fa fa-facebook fa-5x"></i><i class="fa fa-pinterest fa-5x"></i><i class="fa fa-instagram fa-5x"></i> </span>
          
           		 </div>
      		</div>
      	</div>
    </div>
</div>

 <div class="container-fluid visible-xs">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="footer center ">
            	<div class="inner white"><span class="handwriting">connect with us ></span>
                    <span class="social">  <i class="fa fa-twitter fa-3x"></i><i class="fa fa-facebook fa-3x"></i><i class="fa fa-pinterest fa-3x"></i><i class="fa fa-instagram fa-3x"></i> </span>
          
           		 </div>
      		</div>
      	</div>
    </div>
</div>