---
layout: white 	
title: Pashen
---

<div class="container-fluid">

	<div class="row">
	
	<div class="col-md-4">
     <img src="/img/whitepashen.png" class="img-responsive center">
      </div>
      <div class="col-md-8 hidden-xs scenter">
     {% include tagline.html %}
      </div>

  </div>
         
</div>

  

 <div class="container-fluid">
  	<div class="container">
  		<div class="row">


<div class="col-md-7 col-md-push-5 yellowback white padded-med">

						<h1>Send a message</h1><div class="lead">
  {% include contactform.html %}</div>

  			</div>
        <div class="col-md-5 col-md-pull-7 padded-sm blueback white padded-med">
 <h3>
   Pashen Corp. <br> 3722 Chicago Ave S, <br>Minneapolis, MN 55407</h3>
          <h3><i class="fa fa-phone-square fa-2x"> </i> <strong> 612-399-6888 </strong>
        <br><i class="fa fa-envelope-o fa-2x" alt="visit us on twitter"></i> wendy@mypashen.com </strong></h3>

      <br>
    </div>
     <div class="col-md-5 col-md-pull-7 padded-med pinkback  padded-med white">
<i class="fa fa-twitter fa-5x"></i><i class="fa fa-facebook fa-5x"></i><i class="fa fa-pinterest fa-5x"></i><i class="fa fa-instagram fa-5x"></i> 

      <br>
    </div>
  			
		</div>
	</div>

</div>


 