---
layout: default 	
title: pashen raw + healthy + delicious snacks
description: pashen bars are made using only the highest quality, freshest raw and organic ingredients.
---


<div class="container-fluid">
     <img src="/img/logobig.png" class="img-responsive center">
      
      
         
</div>


<div class="container-fluid padded-med hidden-xs">
      

  <div class="row">
<div class="col-md-12 center">
 {% include tagline.html %}


  </div>
</div>
</div>


<div class="visible-xs">
  <br><br>
</div>
<div class="container-fluid padded-big-bottom">
      
      <div class="container">


<div class="row">
    <div class="col-sm-4 hidden-xs">

   <img src="/img/barss.png" class="img-thumbnail">
</div>
<div class="col-sm-8">


    <h1>Healthy, delicious superfood snack bars made with organic, sprouted and raw ingredients</h1>
<p class="lead">
<span class="grey">Ingredients ></span><span class="yellow">Organic sprouted buckwheat </span><span class="blue">Raw honey </span><span class="green">Organic raw agave nectar </span><span class="yellow"> Organic raw almond butter </span><span class="pink">
Organic raw pumpkin seeds</span><span class="green"> Organic raw cacao butter </span><span class="yellow">Organic cranberries </span><span class="">Organic raw goji 
berries</span><span class="green"> Organic raw cacao powder</span><span class="pink"> Organic raw black and white sesami seeds </span><span class="blue">Organic raw 
sunflower seeds</span><span class="yellow"> Organic raw coconut oil</span><span class="red"> Organic cinnamon </span><span class="blue">Raw vanilla powder and </span><span class="pink">Sea salt</span>
               </p>

                <span class="headline">Learn more about</span>
    <a class="btn btn-lg btn-ghost" href="{{ site.baseurl }}/productinfo/" role="button">Ingredients and Health Benefits</a>
                  </div>
</div>

</div>
         
</div>





</div>
  
        
          </div>



     </div>

      </div>

    </div>
 

<div class="container-fluid center actions padded-med">



  <div class="row">
    <div class="col-sm-4 white">

<a href="/shop/"><img src="/img/cartfix.png" class="img-responsive"></a>

   <a class="btn btn-lg btn-ghost-white" href="/shop/" role="button">shop now</a>

    </div>
  <span class="visible-xs"><hr></span>
    <div class="col-sm-4 white">


<a href="/storelocator/"><img src="/img/pinfix.png" class="img-responsive"></a>
    <a class="btn btn-lg btn-ghost-white" href="/storelocator/" role="button">find a retailer</a>

  

    </div>

  <span class="visible-xs"><hr></span>

    <div class="col-sm-4 white">

<a href="/contact/"><img src="/img/mailfix.png" class="img-responsive"></a>
    <a class="btn btn-lg btn-ghost-white" href="/contact/" role="button">contact us</a>

   

    </div>
  </div>
</div>



{% include social.html %}