---
layout: shop 	
title: Pashen
---

<div class="container-fluid">

	<div class="row">
	
	<div class="col-md-4">
       <a href="/"> <img src="/img/whitepashen.png" class="img-responsive center"></a>
      </div>
      <div class="col-md-8 hidden-xs scenter">
     {% include tagline.html %}
      </div>

  </div>
         
</div>





 <div class="container-fluid shopheader white padded-big">
  	<div class="container">
  		<div class="row">

        <div class="col-md-10">
          <h1 id="highlight-pink">get pashen bars delivered right to your door</h1>

<br><br>
 
                          <p><span class="lead" id="highlight-yellow">NEW save money and time with our convenient monthly case (12 bars) delivery subscription. $32.89 per month = savings of $32.89 per year, that's like getting one case free! You can cancel at any time. </span></p>
        </div>
         <div class="col-sm-2 white">



   

    </div>
   </div>
 </div>
</div>

 <div class="container-fluid">
    <div class="container">
    <div class="row padded-sm">
        <div class="col-sm-4">   
        <img src="/img/obarlabel.png" class="img-responsive">
       </div> 
        <div class="col-sm-8">
        <h1 class="grey">pashen original bar</h1>
        <span class="lead">{% include originalingredients.html %}</span><br>
        <img src="/img/original---Nutrition-Label.png" class="img-responsive"><br>
        <span class="lead">price=$35.88/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Original Bar Case&category=NON&price=35.88&code=1001004" role="button">add to cart</a><br>
            <span class="lead">monthly delivery price=$32.89/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Original Bar Case Subscription&category=SUB&price=32.89&code=1001006&sub_frequency=1m" role="button">sign up</a><br>
           <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
   
      </div>
</div>
<div class="row padded-sm-bottom">
      <div class="col-sm-4 col-sm-push-8">   
      <img src="/img/cbarlabel.png" class="img-responsive">
      </div> 
          <div class="col-sm-8 col-sm-pull-4">
          <h1 class="grey">pashen cacao bar</h1>
          <span class="lead">{% include cacaoingredients.html %}</span><br>
          <img src="/img/cacao---Nutrition-Label.png" class="img-responsive"><br>
             <span class="lead">price=$35.88/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Cacao Bar Case&category=NON&price=35.88&code=1001005" role="button">add to cart</a><br>
            <span class="lead">monthly delivery price=$32.89/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Cacao Bar Case Subcription&category=SUB&price=32.89&code=1001007&sub_frequency=1m" role="button">sign up</a><br>
       <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
            </div>
            </div>
  <div class="container-fluid">
      <img src="/img/cranberries.jpg" class="img-responsive">
    </div>
 <div class="container-fluid" id="samples">
    <div class="container">
    <div class="row padded-sm">
        <div class="col-sm-8">   
        <img src="/img/samples.png" class="img-responsive">
       </div> 
        <div class="col-sm-4">
        <h1 class="grey">NEW!! free sample pack</h1>
        <span class="lead">Want to try pashen bars and see what everyone is raving about? We'll mail you free ones to try!</span><br>
      
        <span class="lead">price=FREE!</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Sample Pack&category=SAM&price=0.00&code=1001003" role="button">add to cart</a><br>
           
           <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
   
      </div>
</div>

</div>
</div>
</div>
 <div class="container-fluid greyback white padded-med">
    <div class="container">
      <div class="row">

        <div class="col-med-10 visible-xs">
         


            <p>secure payments method accepted<br><i class="fa fa-cc-amex fa-3x"></i><i class="fa fa-cc-discover fa-3x"></i><i class="fa fa-cc-visa fa-3x"></i><i class="fa fa-cc-mastercard fa-3x"></i>
                    
        </div>

         <div class="col-med-10 hidden-xs">
         


            <p>secure payments method accepted<i class="fa fa-cc-amex fa-3x"></i><i class="fa fa-cc-discover fa-3x"></i><i class="fa fa-cc-visa fa-3x"></i><i class="fa fa-cc-mastercard fa-3x"></i>
                    
        </div>
   </div>
 </div>
</div>
 