---
layout: shop 	
title: Pashen
---

{% include header.html %}




 <div class="container-fluid shopheader white padded-big">
  	<div class="container">
  		<div class="row">

        <div class="col-md-10">
          <h1 id="highlight-yellow2">Make pashen bars a part of your daily ritual with monthly delivery and get 1 case/year FREE. </span></h1>
        </div>
         <div class="col-sm-2 white">



   

    </div>
   </div>
 </div>
</div>

 <div class="container-fluid">
    <div class="container">
    <div class="row padded-sm">
        <div class="col-sm-4">   
        <img src="/img/obarlabel.png" class="img-responsive">
       </div> 
        <div class="col-sm-8">
        <h1 class="grey">pashen original bar</h1>
        <span class="lead">{% include originalingredients.html %}</span><br>
        <img src="/img/original---Nutrition-Label.png" class="img-responsive"><br>
        <span class="lead">price=$35.88/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Original Bar Case&category=NON&price=35.88&code=1001004" role="button">add to cart</a><br>
            <span class="lead">monthly delivery price=$32.89/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Original Bar Case Subscription&category=SUB&price=32.89&code=1001006&sub_frequency=1m" role="button">sign up</a><br>
           <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
   
      </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <hr>
       <p class="lead white center"><span class="highlight-black">Organic</span> <span class="highlight-pink">Gluten-Free</span> <span class="highlight-yellow">Non-GMO</span> <span class="highlight-red">Dairy-Free</span> <span class="highlight-blue">Soy-Free</span> <span class="highlight-green">Unprocessed</span> <span class="highlight-black">No Preservatives</span> </p>
       <hr>
     </div>
   </div>
 </div>

<div class="row padded-sm-bottom">
      <div class="col-sm-4 col-sm-push-8">   
      <img src="/img/cbarlabel.png" class="img-responsive">
      </div> 
          <div class="col-sm-8 col-sm-pull-4">
          <h1 class="grey">pashen cacao bar</h1>
          <span class="lead">{% include cacaoingredients.html %}</span><br>
          <img src="/img/cacao---Nutrition-Label.png" class="img-responsive"><br>
             <span class="lead">price=$35.88/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Cacao Bar Case&category=NON&price=35.88&code=1001005" role="button">add to cart</a><br>
            <span class="lead">monthly delivery price=$32.89/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Cacao Bar Case Subcription&category=SUB&price=32.89&code=1001007&sub_frequency=1m" role="button">sign up</a><br>
       <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
            </div>
            </div>

              <div class="container">
    <div class="row padded-sm" id="berrybars">
        <div class="col-sm-4">   
        <img src="/img/bbarlabel.png" class="img-responsive">
       </div> 
        <div class="col-sm-8">
        <h1><span class="pink strong">NEW VEGAN BAR!!</span> <span class="grey">pashen</span><span class="pink"> berry</span><span class="grey"> </span></h1>
        <span class="lead">{% include berryingredients.html %}</span><br>
        <img src="/img/berry---Nutrition-Label.jpg" class="img-responsive"><br>
        <span class="lead">price=$35.88/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Berry Bar Case&category=NON&price=35.88&code=1001009" role="button">add to cart</a><br>
            <span class="lead">monthly delivery price=$32.89/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Berry Bar Case Subscription&category=SUB&price=32.89&code=1001010&sub_frequency=1m" role="button">sign up</a><br>
           <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
   
      </div>
</div>
</div>
  <div class="container-fluid">
      <img src="/img/cranberries.jpg" class="img-responsive">
    </div>
 <div class="container-fluid" id="samples">
    <div class="container">
    <div class="row padded-sm">
        <div class="col-sm-8">   
        <img src="/img/samples.png" class="img-responsive">
       </div> 
        <div class="col-sm-4">
        <h1 class="grey">free sample pack</h1>
        <span class="lead">Want to try pashen bars and see what everyone is raving about? We'll mail you free ones to try!</span><br>
      
        <span class="lead">price=FREE!</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Sample Pack&category=SAM&price=0.00&code=1001003" role="button">add to cart</a><br>
           
           <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
   
      </div>
</div>

</div>
</div>
</div>
 <div class="container-fluid greyback white padded-med">
    <div class="container">
      <div class="row">

        <div class="col-med-10 visible-xs">
         


            <p>secure payments method accepted<br><i class="fa fa-cc-amex fa-3x"></i><i class="fa fa-cc-discover fa-3x"></i><i class="fa fa-cc-visa fa-3x"></i><i class="fa fa-cc-mastercard fa-3x"></i>
                    
        </div>

         <div class="col-med-10 hidden-xs">
         


            <p>secure payments method accepted<i class="fa fa-cc-amex fa-3x"></i><i class="fa fa-cc-discover fa-3x"></i><i class="fa fa-cc-visa fa-3x"></i><i class="fa fa-cc-mastercard fa-3x"></i><i class="fa fa-paypal fa-3x"></i>
                    
        </div>
   </div>
 </div>
</div>
 