---
layout: shop 	
title: Pashen
---

<div class="container-fluid">

	<div class="row">
	
	<div class="col-md-4">
     <a href="/"><img src="/img/whitepashenheartsRM.jpg" class="img-responsive center"></a>
      </div>
      <div class="col-md-8 hidden-xs scenter">
     {% include tagline.html %}
      </div>

  </div>
         
</div>





 <div class="container-fluid shopheader white padded-med">
  	<div class="container">
  		<div class="row">
    <div class="col-sm-4">
            <img src="/img/AboutUsPic.png">
<h3>Susan Powers, Founder <br><strong>RAWMAZING</strong></h3>
        </div>
        <div class="col-md-8">
          <h1 id="highlight-pink">Welcome Rawmazing readers! get that oh-so-good raw in your everyday diet the easy peasy way, get pashen bars delivered right to your door!</h1>

<br><br>
 
                      
        </div>
         <div class="col-sm-2 white">



   

    </div>
   </div>
 </div>
</div>

 <div class="container-fluid greyback white padded-med">
    <div class="container">
      <div class="row">

        <div class="col-sm-12">
      
       <h1> As seen in <img src="/img/arrow.png">
      </div>
      </div>
    </div>
  </div>

 <div class="container-fluid white padded-med">
    <div class="container">
      <div class="row">
  


        <div class="col-sm-3">
 <a href="http://www.citypages.com/restaurants/pashen-entrepreneurs-tell-the-story-of-their-first-year-in-business-part-1-6612048" target="_blank"><img class="responsive" src="/img/citypages.png"></a>

   </div>

 <div class="col-sm-3">

          <a href="http://heavytable.com/wendy-and-pol-sorquist-of-pashen/" target="_blank"><img  class="responsive" src="/img/heavytable.png"></a>
             </div>

 <div class="col-sm-3">
            <a href="http://heavytable.com/wendy-and-pol-sorquist-of-pashen/" target="_blank"><img  class="responsive" src="/img/pioneerpress.png"></a>
               </div>

 <div class="col-sm-3">
              <a href="http://www.startribune.com/food-drink-raw-passion-at-pashen/141825043/" target="_blank"><img  class="responsive" src="/img/startribune.png"></a>
 </div>

           </div>   
            </div>
          </div>

 <div class="container-fluid">
  <img src="/img/ingredientbanner.png" class="img-responsive">
</div>


 <div class="container-fluid">
    <div class="container">
      <div class="row">
<div class="col-md-12">

<h1>ingredients and health benefits</h1>

<p class="lead">Pashen bars are made using only the highest quality freshest raw and organic ingredients. Our ingredients are living foods. They are sprouted and dehydrated to maximize nutritional content. Ingredients include buckwheat, pumpkin seeds, sunflower seeds, cranberries, goji berries, black and white sesame seeds, honey, coconut oil, almond butter and cacao, all raw and organic using the perfect amount of cinnamon and vanilla. Pashen bars are loaded with flavor and nutriton.</p>

<h2 class="yellow">organic almonds</h2>
  <p class="lead">Almonds are rich in potassium, dietary fiber and magnesium to support a healthy heart and immune system.
</p>
  <img src="/img/almonds.jpg" class="img-responsive">

  <h2 class="pink">organic pumpkin seeds</h2>
  <p class="lead">Pumpkin seeds are a near perfect food - they have amino acids and unsaturated fatty acids, contain many B vitamins, as well as C, D, E and K. They also have wonderful minerals like calcium, potassium, phosphorous and niacin. 
</p>
  <img src="/img/pumpkinseeds.jpg" class="img-responsive">
  <h2 class="yellow">organic sesame seeds</h2>
  <p class="lead">Sesame seeds are a very good source of manganese and copper as well as calcium, magnesium, iron, phosphorus, vitamin B1, zinc and dietary fiber. 

</p>
  <img src="/img/sesamieseeds.jpg" class="img-responsive">
  <h2 class="pink">organic dried cranberries</h2>
  <p class="lead">Cranberries contain a source of phytochemicals known as condensed tannins - this means these berries are powerful antioxidants with an anti-inflammatory effect. 
</p>
  <img src="/img/cranberries.jpg" class="img-responsive">

  <h2 class="yellow">raw and organic cacao</h2>
  <p class="lead">Cacao is a raw chocolate from the rainforest that many nutritional experts believe to be a superfood. Superfoods have antioxidants that are nearly off the charts in comparison to other foods. Most importantly, pure chocolate is believed to stimulate various neurotransmitters such as serotonin.
</p>
  <img src="/img/cacao.jpg" class="img-responsive">

  <h2 class="pink">raw and organic goji berries</h2>
  <p class="lead">The goji berry is well known for its high antioxidant properties. Goji berries are rich in many nutrients, minerals and amino acids.

</p>
  <img src="/img/goji.jpg" class="img-responsive">
  </div>
</div>
</div>
</div>

<div class="container-fluid shopheader white padded-med">
    <div class="container">
      <div class="row">

       
                          <p><span class="lead" id="highlight-yellow">Save big with these amazing offers available exclusively to Rawmazing readers! Take advantage of our biggest deal ever with our convenient monthly case (12 bars) delivery subscription. $29.97 per month = savings of $71.16 per year, that's like getting more than 2 free cases! Act now, there's no easier way to meet your RAW nutrition goals - and make your tastebuds happy - than a pashen bar subscription!  </span></p>

        </div>
         <div class="col-sm-2 white">



   

    </div>
   </div>
 </div>
</div>
 <div class="container-fluid">
    <div class="container">
    <div class="row padded-sm">
        <div class="col-sm-4">   
        <img src="/img/obarlabel.png" class="img-responsive">
       </div> 
        <div class="col-sm-8">
        <h1 class="grey">pashen original bar</h1>
        <span class="lead">{% include originalingredients.html %}</span><br>
        <img src="/img/original---Nutrition-Label.png" class="img-responsive"><br>
        <span class="lead">price=$35.88/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Original Bar Case&category=NON&price=35.88&code=1001004" role="button">add to cart</a><br>
            <span class="lead">monthly delivery price=<strike>$32.89</strike> $29.97/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Original Bar Case Subscription&category=SUB&price=29.97&code=1001006&sub_frequency=1m" role="button">sign up</a><br>
           <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
   
      </div>
</div>
<div class="row padded-sm-bottom">
      <div class="col-sm-4 col-sm-push-8">   
      <img src="/img/cbarlabel.png" class="img-responsive">
      </div> 
          <div class="col-sm-8 col-sm-pull-4">
          <h1 class="grey">pashen cacao bar</h1>
          <span class="lead">{% include cacaoingredients.html %}</span><br>
          <img src="/img/cacao---Nutrition-Label.png" class="img-responsive"><br>
             <span class="lead">price=$35.88/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Cacao Bar Case&category=NON&price=35.88&code=1001005" role="button">add to cart</a><br>
            <span class="lead">monthly delivery price=<strike>$32.89</strike> $29.97/case(12 bars)</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Cacao Bar Case Subcription&category=SUB&price=29.97&code=1001007&sub_frequency=1m" role="button">sign up</a><br>
       <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
            </div>
            </div>
 <div class="container-fluid" id="samples">
    <div class="container">
    <div class="row padded-sm">
        <div class="col-sm-8">   
        <img src="/img/samples.png" class="img-responsive">
       </div> 
        <div class="col-sm-4">
        <h1 class="grey">NEW!! free sample pack</h1>
        <span class="lead">Want to try pashen bars and see what everyone is raving about? We'll mail you free ones to try!</span><br>
      
        <span class="lead">price=FREE!</span>    <a class="btn btn-lg btn-ghost" href="https://pashen.foxycart.com/cart?name=Pashen Sample Pack&category=SAM&price=0.00&code=1001003" role="button">add to cart</a><br>
           
           <a href="https://pashen.foxycart.com/cart?" >    <span class="green"><i class="fa fa-shopping-cart"></i>view cart</a></span>
   
      </div>
</div>

</div>
</div>
</div>

 <div class="container-fluid greyback white padded-med">
    <div class="container">
      <div class="row">

        <div class="col-med-10 visible-xs">
         


            <p>secure payments method accepted<br><i class="fa fa-cc-amex fa-3x"></i><i class="fa fa-cc-discover fa-3x"></i><i class="fa fa-cc-visa fa-3x"></i><i class="fa fa-cc-mastercard fa-3x"></i>
                    
        </div>

         <div class="col-med-10 hidden-xs">
         


            <p>secure payments method accepted<i class="fa fa-cc-amex fa-3x"></i><i class="fa fa-cc-discover fa-3x"></i><i class="fa fa-cc-visa fa-3x"></i><i class="fa fa-cc-mastercard fa-3x"></i>
                    
        </div>
   </div>
 </div>
</div>
 