<div class="container-fluid center greyback padded-med hidden-xs">
  <div class="row">

    <div class="col-sm-4 white padded-all">

    <a href="/shop/"><img src="/img/cart.png" class="img-responsive actions1l"></a>

    <a class="btn btn-lg btn-ghost-white" href="/shop/" role="button">shop now</a>

    </div>
    <span class="visible-xs"><hr></span>
    <div class="col-sm-4 white padded-all">


      <a href="/storelocator/"><img src="/img/map.png" class="img-responsive actions2l"></a>
      <a class="btn btn-lg btn-ghost-white" href="/storelocator/" role="button">find a retailer</a>

    </div>

    <span class="visible-xs"><hr></span>  

    <div class="col-sm-4 white padded-all">

    <a href="/contact/"><img src="/img/envelope2.png" class="img-responsive actions3l"></a>
    <a class="btn btn-lg btn-ghost-white" href="/contact/" role="button">contact us</a>
   
    </div>
  </div>
</div>

<div class="container-fluid center greyback padded-med visible-xs">
  <div class="row">

    <div class="col-sm-4 white padded-all">

    <a href="/shop/"><img src="/img/cart.png" class="img-responsive actions1"></a>

    <a class="btn btn-lg btn-ghost-white" href="/shop/" role="button">shop now</a>

    </div>
    <span class="visible-xs"><hr></span>
    <div class="col-sm-4 white padded-all">


      <a href="/storelocator/"><img src="/img/map.png" class="img-responsive actions2"></a>
      <a class="btn btn-lg btn-ghost-white" href="/storelocator/" role="button">find a retailer</a>

    </div>

    <span class="visible-xs"><hr></span>  

    <div class="col-sm-4 white padded-all">

    <a href="/contact/"><img src="/img/envelope2.png" class="img-responsive actions3"></a>
    <a class="btn btn-lg btn-ghost-white" href="/contact/" role="button">contact us</a>
   
    </div>
  </div>
</div>
