<div class="container-fluid  padded-med yellowback center hidden-xs">
  <div class="row">
    <div class="col-md-12 white">

<form action="http://akashacollective.createsend.com/t/d/s/itkyw/" method="post" id="subForm">
  <span class="handwriting small">sign up for our newsletter for cool articles, health tips and special offers ! </span>

<br><br>

     
        <input id="fieldName" name="cm-name" type="text" required class="input-field" placeholder="name" />

        <input id="fieldEmail" name="cm-itkyw-itkyw" type="email" required class="input-field" placeholder="email"/>

    

        <button type="submit" class="btn btn-ghost-white btn-lg">submit</button>

</form>
    </div>
  </div>

</div>


<div class="container-fluid  padded-med yellowback center visible-xs">
  <div class="row">
    <div class="col-md-12 white">

<form action="http://akashacollective.createsend.com/t/d/s/itkyw/" method="post" id="subForm">
  <span class="handwriting small">sign up for our newsletter for cool articles, health tips and special offers ! </span>

<br><br>
<br>
     
      <span class="block">  <input id="fieldName" name="cm-name" type="text" required class="input-field" placeholder="name" /></span>
<br>
      <span class="block">  <input id="fieldEmail" name="cm-itkyw-itkyw" type="email" required class="input-field" placeholder="email"/></span>

    <br>
   <span class="block">  <button type="submit" class="btn btn-ghost-white btn-lg">submit</button></span>

</form>
    </div>
  </div>

</div>