 <div class="container-fluid hidden-xs">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="footer center padded-big">
            	<div class="inner white"><span class="handwriting">follow us ></span>
                    <span class="social">  <i class="fa fa-twitter fa-5x"></i><i class="fa fa-facebook fa-5x"></i><i class="fa fa-pinterest fa-5x"></i><i class="fa fa-instagram fa-5x"></i> </span>
          
           		 </div>
      		</div>
      	</div>
    </div>
</div>

 <div class="container-fluid visible-xs">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="footer center padded-big">
            	<div class="inner white"><span class="handwriting">follow us ></span>
                    <span class="social">  <i class="fa fa-twitter fa-3x"></i><i class="fa fa-facebook fa-3x"></i><i class="fa fa-pinterest fa-3x"></i><i class="fa fa-instagram fa-3x"></i> </span>
          
           		 </div>
      		</div>
      	</div>
    </div>
</div>
  