 <div class="container-fluid pinkback hidden-xs">
  <div class="container">
 	  <div class="row">
 		  <div class="col-md-12">
 			  <div class="footer center padded-big">
          <div class="inner white"><span class="handwriting">follow us ></span>
                    <span class="social">  <a class="white" href="http://twitter.com/mypashen" target="blank"><i class="fa fa-twitter fa-5x"></i></a><a class="white" href="http://facebook.com/mypashen" target="blank"><i class="fa fa-facebook fa-5x"></i></a><a class="white" href="http://pinterest.com/mypashen" target="blank"><i class="fa fa-pinterest fa-5x"></i></a><a class="white" href="http://instagram.com/mypashen" target="blank"><i class="fa fa-instagram fa-5x"></i></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pinkback visible-xs">
  <div class="container">
 	  <div class="row">
 		  <div class="col-md-12">
 			  <div class="footer center padded-big">
          <div class="inner white"><span class="handwriting">follow us</span>
                        <span class="social">  <a class="white" href="http://twitter.com/mypashen" target="blank"><i class="fa fa-twitter fa-2x"></i></a><a class="white" href="http://facebook.com/mypashen" target="blank"><i class="fa fa-facebook fa-2x"></i></a><a class="white" href="http://pinterest.com/mypashen" target="blank"><i class="fa fa-pinterest fa-2x"></i></a><a class="white" href="http://instagram.com/mypashen" target="blank"><i class="fa fa-instagram fa-2x"></i></a></span>
          
          </div>
      	</div>
      </div>
    </div>
  </div>
</div>
  