<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta name="description" content="">
    <meta name="author" content="">
{% include favicon.html %}
<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

        <title>{{ page.title }}</title>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/custom.css">

    </head>
    <body>

{% include navigation.html %}

 <div class="container-fluid">
     <img src="/img/logobig.png" class="img-responsive center">
      
      
         
</div>





<div class="container-fluid padded-big">
      
      <div class="container">
  <div class="row">
    <div class="col-md-12 center">
       <span class="blue huge-text">raw</span><span class="red huge-text"> + </span><span class="pink huge-text">healthy</span><span class="green huge-text"> + </span><span class="yellow huge-text">delicious</span><br><br>

</div>
<div class="row">
    <div class="col-md-4">

   <img src="/img/barss.png" class="img-thumbnail">
</div>
<div class="col-md-8">


      <h2>
Pashen bars are made using only the highest quality, freshest raw and organic ingredients. They are sprouted and dehydrated to maximize nutritional content.</h1> 
<p class="lead">
<span class="grey">Ingredients ></span><span class="yellow">Organic sprouted buckwheat </span><span class="blue">Raw honey </span><span class="green">Organic raw agave nectar </span><span class="yellow"> Organic raw almond butter </span><span class="pink">
Organic raw pumpkin seeds</span><span class="green"> Organic raw cacao butter </span><span class="yellow">Organic cranberries </span><span class="">Organic raw goji 
berries</span><span class="green"> Organic raw cacao powder</span><span class="pink"> Organic raw black and white sesami seeds </span><span class="blue">Organic raw 
sunflower seeds</span><span class="yellow"> Organic raw coconut oil</span><span class="red"> Organic cinnamon </span><span class="blue">Raw vanilla powder and </span><span class="pink">Sea salt</span>
               </p>

                <span class="headline">Learn more about</span>
    <a class="btn btn-lg btn-ghost" href="{{ site.baseurl }}/features/" role="button">Ingredients and Nutrition Facts</a>
                  </div>
</div>

</div>
         
</div>





</div>
  
        
          </div>



     </div>

      </div>

    </div>
 

<div class="container-fluid center actions" id="circles">



  <div class="row">
    <div class="col-md-4 white nopad">

<img src="/img/cart.png" class="img-responsive">

  

    </div>
    <div class="col-md-4 white nopad">


<img src="/img/map.png" class="img-responsive">

  

    </div>
    <div class="col-md-4 white nopad">

<img src="/img/envelope1.png" class="img-responsive">

   

    </div>
  </div>
</div>

<div class="container-fluid padded-big-bottom actions center">
  <div class="row">
    <div class="col-md-4 white nopad">



    <a class="btn btn-lg btn-ghost-white" href="{{ site.baseurl }}/features/" role="button">shop now</a>

    </div>
    <div class="col-md-4 white nopad">




    <a class="btn btn-lg btn-ghost-white" href="{{ site.baseurl }}/features/" role="button">find a retailer</a>

    </div>
    <div class="col-md-4 white nopad">


    <a class="btn btn-lg btn-ghost-white" href="{{ site.baseurl }}/features/" role="button">contact us</a>

    </div>
  </div>

</div>



{% include signup.html %}

   {% include footer.html %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
<script>
$('#monitor').html($(window).width());

$(window).resize(function() {
    var viewportWidth = $(window).width();
    $('#monitor').html(viewportWidth);
});</script>
<script>
jQuery('body').bind('click', function(e) {
    if(jQuery(e.target).closest('.navbar').length == 0) {
        // click happened outside of .navbar, so hide
        var opened = jQuery('.navbar-collapse').hasClass('collapse in');
        if ( opened === true ) {
            jQuery('.navbar-collapse').collapse('hide');
        }
    }
});</script>
<script>$(document).ready(function () {
              $(".navbar-toggle").on("click", function () {
                    $(this).toggleClass("active");
              });
        });</script>
        {% include googleremarketing.html %}
        {% include leaddyno.html %}
    </body>
</html>
