<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta name="description" content="">
    <meta name="author" content="">
{% include favicon.html %}
        <title>{{ page.title }}</title>

    
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.cs">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/custom.css">
<script src="//load.sumome.com/" data-sumo-site-id="7be472e9908c9f0a8925e420891a8ef1522e0d6e727116dac670b34c7caa5f44" async="async"></script>
    </head>
    <body>

 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"> 
             <img src="/img/logobl.png">


</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          {{ content }}

        
          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  <script src="/js/jquery-1.11.3"></script>
    <script src="/js/bootstrap.js"></script>
    {% include googleremarketing.html %}
    {% include leaddyno.html %}
    </body>
</html>
